footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    position: relative;
    width: 100%;
    flex-shrink: 0;
}